#chat-history .message{
  width: fit-content;
  max-width: 100%;
}

.message-content{
  background: rgb(77, 51, 192);
  padding: 0.3em 0.5em;
  width: fit-content;
  border-radius: 10px 0 0 10px;
  margin-bottom: 7px;
}

#chat-history .message pre{
  text-align: left;
  padding: 1%;
  box-sizing: border-box;
  color: white;
  width: fit-content;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#chat-history .message h6{
  text-align: right;
  padding: 1%;
  box-sizing: border-box;
}