.message-content{
  background: rgb(77, 51, 192);
  padding: 0.5em 1em;
  width: fit-content;
  border-radius: 10px 0 0 10px;
  margin-bottom: 7px;
}

#chat-history .message pre{
  text-align: left;
  padding: 1%;
  box-sizing: border-box;
  color: white;
}

#chat-history .message h6{
  text-align: right;
  padding: 1%;
  box-sizing: border-box;
}