#loginContainer{
  background-color: #dfdfdf;
  height: 65vh;
  width: 26.5vw;
  margin: 17.5vh 36.75vw 17.5vh 36.75vw;
}

#loginContainer > img {
  height: 12vh;
  width: 12vh;
  display: block;
  margin: auto;
  margin-top: 9%;
}

#loginContainer > h1{
  font-size: 3.1em;
  text-align: center;
  margin-top: 3%;
}

#textInput{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#textInput > div{
  margin-top: 6%;
}

#buttonInput{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

#buttonInput > div{
  margin: 12%;
}