#profile-display{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#profile-title{
  display: flex;
  justify-content: space-between;
}

#profile-display-skills, #profile-display-links{
  padding: 1.5em 0;
}

#profile-display-skills{
  overflow-y: auto;
  height: fit-content;
  max-height: 45vh;
}

div.MuiChip-root{
  margin-bottom: 5px;
  margin-right: 5px;
  width: fit-content;
  max-width: 100%;
  text-overflow: ellipsis;
}