#profile-form{
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-input{
  width: 100%;
}

#profile-form-links{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile-form button{
  margin-top: 15px;
}

#profile-buttons{
  display: flex;
  justify-content: space-around;
}