@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
#chat-history .message {
  width: fit-content;
  max-width: 100%;
}

.message-content {
  background: #4d33c0;
  padding: 0.3em 0.5em;
  width: fit-content;
  border-radius: 10px 0 0 10px;
  margin-bottom: 7px;
}

#chat-history .message pre {
  text-align: left;
  padding: 1%;
  box-sizing: border-box;
  color: white;
  width: fit-content;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#chat-history .message h6 {
  text-align: right;
  padding: 1%;
  box-sizing: border-box;
}

#chat {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

#chat-list {
  width: 30%;
  height: 100%;
  background: white;
  padding: 1em 0;
  box-sizing: border-box;
  overflow-y: auto;
}

#conversation {
  width: 70%;
  height: 100%;
  overflow-y: auto;
}

#chat-list p, #conversation p {
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
  width: 100%;
}

#conversation h3 {
  width: 100%;
  height: 3.5em;
  color: white;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0 0 0 15px;
  background: #5d42d6;
}

#chat-history {
  width: 100%;
  height: calc(100% - 9em);
  overflow-y: auto;
}
#chat-history #chat-history-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

#chat-inputs {
  width: 100%;
  height: 4em;
}

#message-input {
  width: 100%;
}

#chat-list .room {
  width: 90%;
  background: #ebebeb;
  box-sizing: border-box;
  padding: 1em;
  margin: 7px auto;
  border-radius: 10px;
  cursor: pointer;
}
#chat-list .room p {
  text-align: left;
  width: 100%;
}

#chat-list .room:hover {
  background: lightgray;
}

#dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#workspace {
  width: 80%;
}

.display-link {
  padding: 1% 0;
  display: flex;
  align-items: center;
}

.display-link img {
  padding-right: 1em;
}

#nav-button {
  position: absolute;
  top: 7px;
  right: 7px;
  background: #ececec;
}

#loginContainer {
  background-color: #dfdfdf;
  height: 65vh;
  width: 30vw;
  margin: 17.5vh 35vw 17.5vh 35vw;
}

#loginContainer h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 8%;
}

#textInput {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#textInput > div {
  margin: 7%;
}

#buttonInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

#buttonInput > div {
  margin: 10%;
}

#profile {
  width: 20%;
  height: 100%;
  background: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
  box-sizing: border-box;
}

#profile-details {
  height: 90%;
}

#profile a {
  color: blue;
  text-decoration: none;
  text-overflow: ellipsis;
}

#profile a:hover {
  text-decoration: underline;
}

#profile-display {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#profile-title {
  display: flex;
  justify-content: space-between;
}

#profile-display-skills, #profile-display-links {
  padding: 1.5em 0;
}

#profile-display-skills {
  overflow-y: auto;
  height: fit-content;
  max-height: 45vh;
}

div.MuiChip-root {
  margin-bottom: 5px;
  margin-right: 5px;
  width: fit-content;
  max-width: 100%;
  text-overflow: ellipsis;
}

#profile-form {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-input {
  width: 100%;
}

#profile-form-links {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile-form button {
  margin-top: 15px;
}

#profile-buttons {
  display: flex;
  justify-content: space-around;
}

#search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search h1 {
  padding: 0 1em;
  font-size: 2.5em;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.55);
}

#overlay > img {
  position: absolute;
  top: 43vh;
  height: 11.5vh;
  transition: 0.115s;
}

#overlay > img:hover {
  top: 42.35vh;
}

#swipeLeft {
  left: 9.2vw;
}

#swipeRight {
  left: 83.5vw;
}

#result {
  background-color: #e4e4e4;
  position: relative;
  top: 12.5vh;
  left: 18.5vw;
  height: 75vh;
  width: 63vw;
  padding: 2.5%;
  box-sizing: border-box;
}

#resultName {
  font-size: 3.4em;
  margin-bottom: 2vh;
}

#resultBio {
  font-size: 1.4em;
  padding: 0.7%;
}

#profile-display-skills {
  overflow-y: auto;
  height: fit-content;
  max-height: 28vh;
}

#result > h3 {
  font-size: 2em;
  margin-top: 2%;
}

#linkContainer {
  position: absolute;
  left: 22vh;
  bottom: 10%;
  width: 100%;
  height: 10vh;
}

#linkContainer > img {
  height: 7vh;
  margin-left: 13%;
  position: relative;
  top: 3vh;
  transition: 0.13s;
}

#linkContainer > img:hover {
  top: 2vh;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Titillium Web", sans-serif;
}

body, #app {
  width: 100vw;
  height: 100vh;
}

#App {
  width: 100%;
  height: 100%;
}

/*Scrollbar*/
::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}

/*# sourceMappingURL=App.css.map */
